[client-server]
# Remova o comentário se quiser usar uma conexão fora do padrão do MariaDB
#socket=/tmp/mysql.sock
#port=3306

# Isso será passado para todos os clientes MariaDB
[client]
#password=my_password

# O servidor MariaDB
[mysqld]
# Diretório onde você deseja colocar seus dados
#data=/cexitusr/local/mysql/var
data=~/Documents/mysql/var

# Diretório para o arquivo errmsg.sys no idioma que você deseja usar
language=/usr/local/mysql/share/mysql/english

# Crie um arquivo onde o motor InnoDB / XtraDB armazena seus dados
loose-innodb_data_file_path = ibdata1:1000M
loose-innodb_file_per_table

# Este é o nome do prefixo a ser usado para todos os arquivos de log, erro e replicação
log-basename=mysqld

#Habilite o registro por padrão para ajudar a encontrar problemas
general-log
log-slow-queries