<!-- Arquivo: views/pages/about.ejs -->
<!-- Para gerar o html na pasta corrente, usar o comando abaixo:
ejs-cli "about.ejs" --out . -->


<!-- Este código adiciona uma barra lateral do Bootstrap para demonstrar 
     como as parciais podem ser estruturadas para serem reutilizadas em diferentes 
     modelos e páginas. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>This is great</h1>
          <p>Welcome to templating using EJS</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h3>Look I'm A Sidebar!</h3>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>