<!-- visualizações/páginas/index.ejs -->
<!-- Para gerar o html na pasta corrente, usar o comando abaixo:
ejs-cli "index.ejs" --out . -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

   
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
   

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

 </body>

</html>