<li>O Apache é um servidor web de plataforma aberta capaz de
    disponibilizar ao público em geral páginas html do meu computador.
    Meu objetivo com essa tecnologia é disponibilizar um site pessoal
    na minha casa,&nbsp; onde o mesmo possa ser acessado a partir do
    site<a href="http://paulosspacheco.blogspot.com/" target="new">
      www.paulosspacheco.blogspot.com</a></li>
  <li>Mais informações pode ser obtidas em:</li>
  <ol>
    <li><a href="https://kinsta.com/pt/base-de-conhecimento/o-que-e-apache/"
        target="new">https://kinsta.com/pt/base-de-conhecimento/o-que-e-apache/</a></li>
    <li><a href="http://httpd.apache.org/docs/2.4/" target="new">Documentação
        do Servidor HTTP Apache Versão 2.4.</a></li>
    <li><a href="https://www.youtube.com/watch?v=YFLwsi1lb-A&amp;t=1482s"
        target="_blank"><span style="color: #0000ee;">Vídeo aula
          criada em junho de 2020. (***) </span></a></li>
    <li><a href="https://www.youtube.com/watch?v=hOgTPJh5kAY&amp;t=216s"
        target="new">Vídeo aula criada em 2013. (**)<br>
      </a></li>
  </ol>  