<ol>
    <li>
        <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference" target="_blank" javascript=""
            reference="">
            JavaScript/Reference - mozilla.org -</a>
    </li>
    <li>
        <a href="https://www.w3schools.com/js/default.asp" target="_blank"
            title="Este site é muito bom para ser usado como fonte de referência já que tem muito exemplos e pouca teoria.">JavaScript
            tutorial - w3schools.</a>
    </li>
    <li>..</li>
</ol>