<!DOCTYPE html>
<html dir="ltr" lang="pt-br">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Modelo de página html onde o item principal da tag ol esconde e mostra seu conteúdo</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="paulosspacheco">
  <meta name="description" content="Um código html é composto de 3 linguagens quais sejam: HTML, css e javascript">
  <meta name="keywords" content="flatpak,linux,aplicativo">

  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
  <!-- <link type="text/css" href="../css/responsivo01.css" rel="stylesheet">
  <link type="text/css" href="../css/treeview_xhtml.css" rel="stylesheet"> -->
  <link type="text/css" href="../css/defaulttheme.css" rel="stylesheet">

  <script type="application/x-javascript" src="../js/generic.js"></script>
  <script type="application/x-javascript" src="../js/tgeneric.js"></script>

</head>

<body>

  <!-- Barra do logomarca e login  -->
  <div class="row">
    <h3>
      <div class="col-3"> Bogger PauloSSPacheco </div>
    </h3>
  </div>

  <!-- Menu de opções -->
  <div class="topnav" id="myTopnav"> 
    <script type="application/x-javascript" src="../menu/index.js"> </script>
  </div>


  <div class="title">
    <script>
        document.write(document.title);
   </script>
</div


  <div class="row">

    <!-- Índice: class="col-3 col-s-3 menu  -->
    <div class="col-3 col-s-3 menu">
      <ul>
        <li>17:30
          <a title="Anotações de tudo que estudei da linguagem java script" 
          href="#objetivo">Objetivo</a></b>
        </li>
        <li><a href="#div2">Div 2</a>. </li>
        <li><a href="#div3">Div 3</a>. </li>
        <li><a href="#div4">Div 4</a>. </li>
        <li><a href="#div5">Div 5</a>. </li>
        <li><a href="#div6">Div 6</a>. </li>

        <li><a href="#div7">Div 7</a>. </li>
        <li><a href="#div8">Div 8</a>. </li>
        <li><a href="#div9">Div 9</a>. </li>
        <li><a href="#div10">Div 10</a>. </li>
        <li><a href="#Referencias">Referências</a>.</li>
      </ol>
      
    </div>

    <script type="application/x-javascript" src="../../../js/treeview_xhtml.js"></script>

    <!-- Conteúdo da página -->
    <div class="col-6 col-s-9">

      <ol>
        <li>
          <span class="rootTree"></span>
          <b><a id="objetivo"> Objetivo.</a></b>
          <div class="children">
            <ol>
              <ol>
                <li>Objetivo deste documento é registrar minhas anotações de estudo da linguagem JavaScript.</li>
                <li>..</li>
              </ol>              
            </ol>
          </div>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div2">div 2</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 2</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div3">div 3</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 2</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div4">div 4</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 4</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div5">div 5</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 5</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>
        
        <li>
          <span class="rootTree"></span>
          <b><a id="div6">div 6</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 6</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div7">div 7</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 7</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div8">div 8</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 8</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div9">div 9</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 9</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>

        <li>
          <span class="rootTree"></span>
          <b><a id="div10">div 10</a></b>
          <ol>
            <div class="children">
              <ol>
                <li>item div 10</li>
                <li>..</li>
              </ol>              
            </div>
          </ol>
        </li>


      </ol>

    </div>
    <!-- Referências: class="col-3 col-s-12 -->
    <div class="col-3 col-s-12">
      <div class="aside">
        <h2><a id="Referencias">Referências?</a></h2>
        <ul>
          <li><br></li>
          <li><br></li>
          <li><br></li>
        </ul>
      </div>
      <div class="aside">
      </div>
    </div>
  </div>

  <script type="application/x-javascript" src="../js/treeview_xhtml.js"></script>
</body>

</html>