<!-- Arquivo: views/partials/footer.ejs -->

<!-- Este código contém informações de direitos autorais e usa várias 
     classes do Bootstrap para estilizar. -->
     
<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
