<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>MODELO DE DOCUMENTO MARKDOWN DB &lt;a href&equals;&quot;O&lowbar;que&lowbar;e&lowbar;mariadb&period;html&quot; target&equals;&quot;&lowbar;blank&quot; title&equals;&quot;Pressione aqui para expandir este documento em nova aba&period;&quot; &gt;&crarr;&lt;&sol;a&gt;&lt;a href&equals;&quot;O&lowbar;que&lowbar;e&lowbar;mariadb&period;pdf&quot; target&equals;&quot;&lowbar;blank&quot; title&equals;&quot;Pressione aqui para visualizar o PDF deste documento em nova aba&period;&quot;&gt;&wp;&lt;&sol;a&gt;</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="modelo-de-documento-markdown-db-">MODELO DE DOCUMENTO MARKDOWN DB <a href="O_que_e_mariadb.html" target="_blank" title="Pressione aqui para expandir este documento em nova aba." >↵</a><a href="O_que_e_mariadb.pdf" target="_blank" title="Pressione aqui para visualizar o PDF deste documento em nova aba.">℘</a></h1>
<h2 id="index">INDEX</h2>
<hr>
<ol>
<li><a href="#id_01">sub título 01</a></li>
<li><a href="#id_02">sub título 02</a></li>
<li><a href="#id_referencias">REFERÊNCIAS</a></li>
</ol>
<h2 id="conteúdo">CONTEÚDO</h2>
<hr>
<h3 id="1-sub-títulos-01">1. Sub títulos 01<span id=id_01></span></h3>
<ol>
<li>item 01</li>
<li>item 02</li>
</ol>
<h3 id="2-sub-título-02">2. Sub título 02<span id=id_02></span></h3>
<ol>
<li>item 01</li>
<li>item 02</li>
</ol>
<h2 id="referências-">REFERÊNCIAS <span id=id_referencias></span></h2>
<hr>
<ol>
<li><a href="link01">link 01</a></li>
<li><a href="link02">link 02</a></li>
</ol>

    </body>
    </html>