<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Modelo de documento markdown &lt;a href&equals;&quot;modelo02&period;html&quot; target&equals;&quot;&lowbar;blank&quot; title&equals;&quot;Pressione aqui para expandir este documento em nova aba&period;&quot; &gt;  &#x279a; &lt;&sol;a&gt;</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description"   content="" />
        <meta name="keywords" content="" />
           
        <link type="text/css" href="/css/topnav.css" rel="stylesheet"/>        
        <link type="text/css" href="/css/defaultthemeMarkdown.css"  rel="stylesheet"/>

        <script type="application/x-javascript" src="/js/generic.js"></script>
        <script type="application/x-javascript" src="/js/tgeneric.js"></script>

        <script>document.addEventListener("DOMContentLoaded", function() {includeHTML();}                );</script>
        <script>document.addEventListener("DOMContentLoaded", function() {FixHeader(window, "myHeader");});</script>
        <script>document.addEventListener("DOMContentLoaded", function() {toggleTree();}                 );</script>   

    </head>
    <body class="vscode-body vscode-dark">
        <div class="header" id="myHeader">
  <div class="navbar" w3-include-html="/menu.inc"> </div>
</div>
<div class="title"><script> document.write(document.title);</script></div>  
<main>
<!-- markdownlint-disable-next-line -->
<span id="topo"><span>
<!-- <h1 id="modelo-de-documento-markdown----">Modelo de documento markdown <a href="modelo02.html" target="_blank" title="Pressione aqui para expandir este documento em nova aba." >  ➚ </a></h1> -->
<h2 id="1-index">1. INDEX</h2>
<hr>
<ol>
<li>
<p><strong>Introdução</strong></p>
<ol>
<li><a href="#id_objetivo">Objetivo</a></li>
<li><a href="#id_pre_requisitos">Pre-requisitos.</a></li>
<li><a href="#id_beneficios">benefícios.</a></li>
</ol>
</li>
<li>
<p><a href="#id_Descricao"><strong>Descrição.</strong></a></p>
</li>
<li>
<p><a href="#id_exemplos"><strong>Exemplos.</strong></a></p>
<ol>
<li><a href="#id_exemplo01">Título do Exemplo 01</a></li>
<li><a href="#id_exemplo02">Título do Exemplo 02</a></li>
</ol>
</li>
<li>
<p><a href="#id_referencias"><strong>Referências.</strong></a></p>
</li>
<li>
<p><a href="#id_historico"><strong>Histórico.</strong></a></p>
</li>
</ol>
<h2 id="2-conteúdo">2. CONTEÚDO</h2>
<hr>
<ol>
<li><strong>Introdução</strong></li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li>
<p><span id="id_objetivo"><span><strong>Objetivo:</strong></p>
<ol>
<li>Descreva o objetivo principal deste documento.</li>
</ol>
</li>
<li>
<p><span id="id_pre_requisitos"></span><strong>Pre-requisitos:</strong></p>
<ol>
<li>Descreva os pre-requisitos necessários para compreensão deste documento.</li>
</ol>
</li>
<li>
<p><span id="id_beneficios"></span><strong>Benefícios:</strong></p>
<ol>
<li>Descreva um resumo do que este documento pode agregar no meu conhecimento.</li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li>
<p><span id=id_Descricao></span><strong>Descrição</strong></p>
<ol>
<li>Escreve em detalhe o conteúdo deste conteúdo.</li>
</ol>
</li>
<li>
<p><span id=id_exemplos></span><strong>Exemplos.</strong></p>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li>
<p><span id=id_exemplo01></span><strong>Título do Exemplo 01</strong>.</p>
<ol>
<li>
<p>Descrição do exemplo</p>
<pre><code class="hljs language-ts"></code></pre>
</li>
<li>
<p><text onclick="goBack()">[🔙]</text></p>
</li>
</ol>
</li>
<li>
<p><span id=id_exemplo02></span><strong>Título do Exemplo 02</strong>.</p>
<ol>
<li>
<p>Descrição do exemplo</p>
<pre><code class="hljs language-ts"></code></pre>
</li>
<li>
<p><text onclick="goBack()">[🔙]</text></p>
</li>
</ol>
</li>
<li>
<p><text onclick="goBack()">[🔙]</text></p>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li><span id=id_referencias></span><strong>REFERÊNCIAS</strong>
<ol>
<li><a href="#1">Site Oficial para produzir este documento</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li><text onclick="goBack()">[🔙]</text></li>
</ol>
<!-- markdownlint-disable-next-line -->
<ol>
<li>
<p><span id="id_historico"><span><strong>HISTÓRICO</strong></p>
<ol>
<li>dd/mm/2021 <!--TODO: HISTÓRICO --></li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">  - &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<ol>
<li>dd/mm/2021 <!--FIXME: Falta fazer os item abaixo: -->
<ul class="contains-task-list">
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Criar este documento baseado no <a href="http://modelo02.html">modelo02.md</a> ;</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Objetivos;</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Pre-requisitos</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Benefícios</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Descrição</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Exemplos</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Escrever tópico Referências</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Atualizar o histórico deste documento.</p>
</li>
<li class="task-list-item enabled">
<p><input class="task-list-item-checkbox"type="checkbox"> Testar este documento depois após uma semana de concluído.</p>
</li>
<li>
<p><text onclick="goBack()">[🔙]</text></p>
</li>
</ul>
</li>
</ol>
</main>
<p><a href="#topo" title="Retorna ao topo">🔝🔝</a></p>

        
        
    </body>
    </html>