<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>&lt;span id&equals;&quot;topo&quot;&gt;&lt;span&gt;Modelo de documento markdown &lt;a href&equals;&quot;modelo02&period;html&quot; target&equals;&quot;&lowbar;blank&quot; title&equals;&quot;Pressione aqui para expandir este documento em nova aba&period;&quot; &gt;  &#x2b06;&#xfe0f; &lt;&sol;a&gt;</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS markdown -->
        <link type="text/css" href="/css/defaultthemeMarkdown.css"  rel="stylesheet"  />
        
        <!-- CSS da página /index.html -->
        <link type="text/css" href="/css/defaulttheme.css" rel="stylesheet"/>        


    </head>
    <body class="vscode-body vscode-light">
        <!-- markdownlint-disable-next-line -->
<h1 id="modelo-de-documento-markdown---️-"><span id="topo"><span>Modelo de documento markdown <a href="modelo02.html" target="_blank" title="Pressione aqui para expandir este documento em nova aba." >  ➚ </a></h1>
<h2 id="1-index"><strong>1. INDEX</strong></h2>
<hr>
<ol>
<li>
<p><strong>Introdução</strong></p>
<ol>
<li><a href="#id_objetivo">Objetivo</a></li>
<li><a href="#id_pre_requisitos">Pre-requisitos.</a></li>
<li><a href="#id_beneficios">benefícios.</a></li>
</ol>
</li>
<li>
<p><a href="#id_Descricao"><strong>Descrição.</strong></a></p>
</li>
<li>
<p><a href="#id_exemplos"><strong>Exemplos.</strong></a></p>
<ol>
<li><a href="#id_exemplo01">Título do Exemplo 01</a></li>
<li><a href="#id_exemplo02">Título do Exemplo 02</a></li>
</ol>
</li>
<li>
<p><a href="#id_referencias"><strong>Referências.</strong></a></p>
</li>
<li>
<p><a href="#id_historico"><strong>Histórico.</strong></a></p>
</li>
</ol>
<h2 id="2-conteúdo"><strong>2. CONTEÚDO</strong></h2>
<hr>
<ol>
<li><strong>Introdução</strong></li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">  1. &lt;span id=&quot;id_objetivo&quot;&gt;&lt;span&gt;**Objetivo:**
     1. Descreva o objetivo principal deste documento.

     2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;

  2. &lt;span id=&quot;id_pre_requisitos&quot;&gt;&lt;/span&gt;**Pre-requisitos:**
     1. Descreva os pre-requisitos necessários para compreensão deste documento.

     2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;

  3. &lt;span id=&quot;id_beneficios&quot;&gt;&lt;/span&gt;**Benefícios:**
     1. Descreva um resumo do que este documento pode agregar no meu conhecimento.

     2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<!-- markdownlint-disable-next-line -->
<ol start="2">
<li><span id=id_Descricao></span><strong>Descrição</strong>
<ol>
<li>Escreve em detalhe o conteúdo deste conteúdo.</li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">  2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<!-- markdownlint-disable-next-line -->
<ol start="3">
<li><span id=id_exemplos></span><strong>Exemplos.</strong></li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">  1. &lt;span id=id_exemplo01&gt;&lt;/span&gt;**Título do Exemplo 01**.
     1. Descrição do exemplo

        ```ts
        ```

     2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;

  2. &lt;span id=id_exemplo02&gt;&lt;/span&gt;**Título do Exemplo 02**.
     1. Descrição do exemplo

        ```ts
        ```

     2. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;

  3. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<!-- markdownlint-disable-next-line -->
<ol start="4">
<li><span id=id_referencias></span><strong>REFERÊNCIAS</strong>
<ol>
<li><a href="#1">Site Oficial para produzir este documento</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
<li><a href="##">#</a></li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">  6. &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<!-- markdownlint-disable-next-line -->
<ol start="5">
<li>
<p><span id="id_historico"><span><strong>HISTÓRICO</strong></p>
<ol>
<li>dd/mm/2021 <!--TODO: HISTÓRICO --></li>
</ol>
</li>
</ol>
<!-- markdownlint-disable-next-line -->
<pre><code class="hljs">     - &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;

  2. dd/mm/2021 &lt;!--FIXME: Falta fazer os item abaixo: --&gt;
     - [ ] Criar este documento baseado no modelo02.md ;
     - [ ] Escrever tópico Objetivos;
     - [ ] Escrever tópico Pre-requisitos
     - [ ] Escrever tópico Benefícios
     - [ ] Escrever tópico Descrição
     - [ ] Escrever tópico Exemplos
     - [ ] Escrever tópico Referências
     - [ ] Atualizar o histórico deste documento.
     - [ ] Testar este documento depois após uma semana de concluído.

     - &lt;text onclick=&quot;goBack()&quot;&gt;[🔙]&lt;/text&gt;
</code></pre>
<p><a href="#topo" title="Retorna ao topo">🔝🔝</a></p>
<!-- markdownlint-disable-next-line -->
 <script>    function goBack() {    window.history.back()}</script>

        
        
     </body>
    </html>