<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>MODELO DE DOCUMENTO MARKDOWN DB &lt;a href&equals;&quot;O&lowbar;que&lowbar;e&lowbar;mariadb&period;html&quot; target&equals;&quot;&lowbar;blank&quot; title&equals;&quot;Pressione aqui para expandir este documento em nova aba&period;&quot; &gt;  &#x279a; &lt;&sol;a&gt;</title>
    
        <link type="text/css" href="/css/topnav.css" rel="stylesheet"/>        
        <link type="text/css" href="/css/defaultthemeMarkdown.css"  rel="stylesheet"/>

        <script type="application/x-javascript" src="/js/generic.js"></script>
        <script type="application/x-javascript" src="/js/tgeneric.js"></script>

        <script>document.addEventListener("DOMContentLoaded", function() {includeHTML();}                );</script>
        <script>document.addEventListener("DOMContentLoaded", function() {FixHeader(window, "myHeader");});</script>
        <script>document.addEventListener("DOMContentLoaded", function() {toggleTree();}                 );</script>   

    </head>
    <body class="vscode-body vscode-dark">
        <div class="header" id="myHeader">
  <div class="navbar" w3-include-html="/menu.inc"> </div>
</div>
<div class="title"><script> document.write(document.title);</script></div>  
<main>
<!-- markdownlint-disable-next-line -->
<span id="topo"><span>
<!-- <h1 id="modelo-de-documento-markdown-db----">MODELO DE DOCUMENTO MARKDOWN DB <a href="O_que_e_mariadb.html" target="_blank" title="Pressione aqui para expandir este documento em nova aba." >  ➚ </a></h1> -->
<h2 id="index">INDEX</h2>
<hr>
<ol>
<li><a href="#id_01">sub título 01</a></li>
<li><a href="#id_02">sub título 02</a></li>
<li><a href="#id_referencias">REFERÊNCIAS</a></li>
</ol>
<h2 id="conteúdo">CONTEÚDO</h2>
<hr>
<h3 id="1-sub-títulos-01">1. Sub títulos 01<span id=id_01></span></h3>
<ol>
<li>item 01</li>
<li>item 02</li>
</ol>
<h3 id="2-sub-título-02">2. Sub título 02<span id=id_02></span></h3>
<ol>
<li>item 01</li>
<li>item 02</li>
</ol>
<h2 id="referências-">REFERÊNCIAS <span id=id_referencias></span></h2>
<hr>
<ol>
<li><a href="link01">link 01</a></li>
<li><a href="link02">link 02</a></li>
</ol>
</main>
<p><a href="#topo" title="Retorna ao topo">🔝🔝</a></p>

        
        
    </body>
    </html>